EXPO_PUBLIC_API_URL=http://localhost/uLam/public
# Android emulator example:
# EXPO_PUBLIC_API_URL=http://10.0.2.2/uLam/public
# Physical device example:
# EXPO_PUBLIC_API_URL=http://192.168.x.x/uLam/public
